
  <div class="main">
    <h1>Bienvenido a Shopéame</h1>
    <h5>¿Qué es Shohpéame?</h5>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni officiis, alias, non error, at impedit iste provident dignissimos ducimus nisi officia dolorem. Iusto numquam voluptatibus omnis eum laboriosam dignissimos? Et?</p>
    <h5>¿Para que puedo usar Shohpéame?</h5>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni officiis, alias, non error, at impedit iste provident dignissimos ducimus nisi officia dolorem. Iusto numquam voluptatibus omnis eum laboriosam dignissimos? Et?</p>
    <h5>¿Quienes hacemos Shohpéame?</h5>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni officiis, alias, non error, at impedit iste provident dignissimos ducimus nisi officia dolorem. Iusto numquam voluptatibus omnis eum laboriosam dignissimos? Et?</p>
    <h5>¿Es seguro usar Shohpéame?</h5>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni officiis, alias, non error, at impedit iste provident dignissimos ducimus nisi officia dolorem. Iusto numquam voluptatibus omnis eum laboriosam dignissimos? Et?</p>
  </div>
