<div>
  <div class="logoBar">
    <img src="../../../../assets/logoShopéame.png" alt="">
  </div>
  <div class="orangeBar">

    <a class="linkBox" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <img class="icon" src="../../../../assets/logoradioactivo.png" alt="">
      <p>home</p>
    </a>

    <a class="linkBox" routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <img class="icon" src="../../../../assets/logoprismatico.png" alt="">
      <p>products</p>
    </a>

    <a class="linkBox" routerLink="/gestion" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <img class="icon" src="../../../../assets/logotimon.png" alt="">
      <p>gestion</p>
    </a>
</div>


